body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   overflow-x: hidden;
}
.split{
    display: flex;
    gap: 1em;
}
#editor{
  min-height: 100vh;

}
.wrapper{
        max-width: 1000px;
    margin: 0 auto;
}
.light{
    background-color:white;
    color: black; 
}
.dark{
    background-color: black;
    color: white;
}
.editorheader{
    display: flex;
    justify-content: space-between;
}

.editorheader div{
    display: flex;
    align-items: center;
}
.editorheader div i{
    margin-right: 1em;
}
#totalAmount span{
    padding-top: 0;
}
#totalAmount{
    border-top: solid thick black;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.dark #totalAmount{
    border-top-color: white;
}
label:hover{
    cursor: pointer;
}
/*parts*/
#parts{
    min-width: 250px;
}
#parts ul{
    list-style-type: none;
}
#parts ul li{
    margin-bottom: 1.5em;
}
#parts span{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
}
#parts ul p{
    margin: 0;
}
#parts ul b{
    width: 100%;
    display: block;
    border-bottom: solid thin black;
    text-transform: capitalize;
}
.dark #parts ul b{
    border-bottom-color: white;
}
#parts ul p{
    display: inline-block;
}
/*preview*/
#preview{
    background-color: #999;
    position: relative;
}
#frame{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#seat{
    position: absolute;
    top: 106px;
    left: 130px;
    z-index: 3;
}
#colorhue, #specular{
    position: absolute;
    z-index: 2;
}
#tires{
    position: absolute;
    top: 175px;
    left: 49px;
    z-index: 1;
}
#engine{
    position: absolute;
    top: 260px;
    left: 290px;
    z-index: 1;
}
#battery{
    position: absolute;
    top: 166px;
    left: 250px;
    z-index: 1; 
}
#lamp{
    position: absolute;
    top: 57px;
    left: 452px;
    z-index: 1; 
}
#headlight{
    position: absolute;
    top: 55px;
    left: 490px;
    opacity: 0;
}
.dark #headlight{
    opacity: 1;
    z-index: 999;
    filter: blur(10px);
    mix-blend-mode: hard-light;
    transition: opacity 1s;
}
/* options side scroller*/
#options{
    border-top: solid thin black;
    background-color: white;
    color: black;
    width: 100%;
    overflow-x: auto;
    display: flex;
    padding: 1em 0;
}
.dark #options{
        background-color: black;
    color: white;
    border-top-color: white;
}
#options h3{
    text-transform: capitalize;
}
.option{
    display: flex;
}
.option img{
    max-height: 125px;
    width: auto;
    margin-right: 0.5em;
}
.option div{
    min-width: 200px;
}
#color_option{
    position: relative;
}
#colorSpecular{
    position: absolute;
    z-index: 2;
}