body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   overflow-x: hidden;
}
.split{
    display: flex;
    gap: 1em;
}
#editor{
  min-height: 100vh;
}
.wrapper{
        max-width: 1000px;
    margin: 0 auto;
}
.light{
    background-color:white;
    color: black; 
}
.dark{
    background-color: black;
    color: white;
}
.editorheader{
    display: flex;
    justify-content: space-between;
}

.editorheader div{
    display: flex;
    align-items: center;
}
.editorheader div i{
    margin-right: 1em;
}
#totalAmount span{
    padding-top: 0;
}
#changeEditor{
    display: block;
    text-align: center;
    margin: 3em auto;
    width: 200px;
}
#totalAmount{
    border-top: solid thick black;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.dark #totalAmount{
    border-top-color: white;
}
label:hover{
    cursor: pointer;
}
/*parts*/
#parts{
    min-width: 250px;
    margin-right: 2em;
}
#parts a, #parts a:visited{
    color: rgb(0, 132, 255);
    text-decoration: none;
}
#parts ul{
    list-style-type: none;
}
#parts ul li{
    margin-bottom: 1.5em;
}
#parts span{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
}
#parts ul p{
    margin: 0;
}
#parts ul b{
    width: 100%;
    display: block;
    border-bottom: solid thin black;
    text-transform: capitalize;
}
.dark #parts ul b{
    border-bottom-color: white;
}
#parts ul p{
    display: inline-block;
}
/*preview*/
#preview{
    position: relative;
    margin-top: 2em;
}
#frame{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#seat{
    position: absolute;
    top: 106px;
    left: 130px;
    z-index: 3;
}
#colorhue, #specular{
    position: absolute;
    z-index: 2;
}
#tires{
    position: absolute;
    top: 175px;
    left: 49px;
    z-index: 1;
}
#engine{
    position: absolute;
    top: 260px;
    left: 290px;
    z-index: 1;
}
#battery{
    position: absolute;
    top: 166px;
    left: 250px;
    z-index: 1; 
}
#lamp{
    position: absolute;
    top: 57px;
    left: 452px;
    z-index: 1; 
}
#headlight{
    position: absolute;
    top: 55px;
    left: 490px;
    opacity: 0;
}
.dark #headlight{
    opacity: 1;
    z-index: 999;
    filter: blur(10px);
    mix-blend-mode: hard-light;
    transition: opacity 1s;
}
/* options side scroller*/
#options{
    border-top: solid thin black;
    background-color: white;
    color: black;
    width: 100%;
    overflow-x: auto;
    display: flex;
    padding: 1em 0;
}
.dark #options{
        background-color: black;
    color: white;
    border-top-color: white;
}
#options h3{
    text-transform: capitalize;
    margin-top: 0;
}
.option{
    display: flex;
    padding-left: 1em;
    box-sizing: border-box;
}
.option img{
    max-height: 125px;
    width: auto;
    margin-right: 0.5em;
}
.option div{
    min-width: 200px;
}
#color_option{
    position: relative;
}
#colorSpecular{
    position: absolute;
    z-index: 2;
}
@media only screen and (max-width: 900px) {
    h1{
        font-size: 1.1em;
    }
    #priceTag{
        background-color: black;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;
    }
    .dark #priceTag{
        background-color: white;
        color: black;
    }
    #optionsLabels{
        display: flex;

        padding: 0.5em 4em 0.5em 0.5em;
    }
    #optionsLabels span{
        width: 25%;
    }
    #optionsLabels span:nth-child(3){
        width: 50%;
        text-align: right;
    } 
    .dropIco{
        font-style: normal;
    }
    .editorheader{
        padding: 0.5em;
        height: 50px;
    }
    summary{
        display: flex;
        justify-content: space-between;
        border-top: solid thin black;
        border-bottom: solid thin black;
    }
    .dark summary{
        border-color: white;
    }
    details input{
        margin-left: 1em;
        margin: 1em;
    }
    .option{
        display: flex;
        justify-content: space-between;
 
    }

    details:not(details:last-child) label{
        width: 100%;
    }
    details>summary {
        list-style: none;
    }
    summary::-webkit-details-marker {
        display: none
    }

    summary::after {
        content: '▼';
        margin: 0;
    }
    details[open] summary:after {
        content: '▲';
    }

    details:last-child input{
        margin-top: 1em;
        margin-bottom: 1em;
        vertical-align: middle;
    }

    details span:not(label span){
        display: block;
        text-align: right;
    }
    details{
        margin: 0;
        padding: 0;
    }
    .dark details summary{
        background-color: black;
    }
    .dark details{
        background-color: #222;
    }
    details i{
        font-style: normal;
    }
    details h3{
        margin: 0;
    }
    details h3 + i{
        width: 40%;
        text-align: left;
        font-style: normal;
    }
    details span{
        width: 30%;
    }
    details > summary:hover{
        cursor: pointer;
        color: white;
        background-color: black;
    }
    details > summary {
        list-style-type: '⯆';
    }
    summary{
        position: relative;
        padding: 0.5em;
    }
    summary h3{
        width: 20%;
    }
    details[open] > summary {
        list-style-type: '⯅';
    }

    details[open] > summary {
        margin-bottom: 0.5rem;
    }
    details span{
        display: inline-block;
        width: 30%;
        text-align: right;
    }
    details label{
        padding: 1em;
        box-sizing: border-box;
    }
    details label i{
        display: inline-block;
        width:45%;
    }
    #preview{
        margin: 0 auto;
        display: block;
        height: 250px;
        width: 200vw;
        scale: 0.6;
        transform-origin: top left;
    }
    #options{
        display: block;
        padding-top: 0;
        overflow-x: auto;
        max-height: 50vh;
    }
    #options h3{
        display: inline-block;
    }
    .option{
        display: block;
        padding-left: 0;
    }
    #color_thumb{
        position: relative;
        float: left;
        max-width: 100px;
        min-width:40%;
    }
    #colorSpecular{
        position: absolute;
        left: 0;
        top: 0;
    }
   
}